<h2>Welcome to <%= @user.display_name %>'s Profile!</h2>

<div class="col-lg-8 col-sm-6">

  <div>
    <h4>Name: <%= @user.name %></h4>
    <p>
      Pen name: <%= @user.display_name %>
      </br>
      Email: <%= @user.display_email %>
    </p>
  </div>

 </div>

<span><%= link "Back", to: user_path(@conn, :index), class: "btn btn-primary" %></span>
