<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link("Posts", to: post_path(@conn, :index)) %></li>
  <li class="breadcrumb-item active"><%= @post.title %></li>
</ol>
<h2><%= @post.title %></h2>

<div>
 
  <div>
    <p>Posted by
    <%= @post.user_id %>
    </p>
  </div>

  <div>
    <p>
    <%= @post.content %>
    </p>
  </div>

</div>



<span><%= link "Back", to: post_path(@conn, :index), class: "btn btn-link" %></span>
